[build]
  publish = "static"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/embed"
    [headers.values]
      Access-Control-Allow-Origin = "*"